---
layout: spoj_layout
active: SPOJ
---

<script type="text/javascript">
	var selected = localStorage.getItem("selected");
	document.getElementById("someInput").value = selected;
	<!--window.onload = alert("hi manish"+selected);-->
</script>
 <!-- First Photo Grid-->
 <input type="text" id="someInput" name="someInput"></input>
  <div class="w3-row-padding">
    {% for data in site.data.spoj-solution %}
    	val=<script type="text/javascript">selected</script>;
    	{% if data.subcategory ==<script type="text/javascript">document.getElementById("someInput").value</script>  %}
    		<div class="w3-container w3-border w3-khaki w3-hover-shadow">
  				<p><b><i>Problem: - {{data.problem}}</i></b></p>
 				 <p>Description:- <a href="{{data.description}}">{{data.description}}</a></p>
 				 <p>Solution:- <a href="{{site.baseurl}}/SPOJ%20Solutions/solutions/{{data.download}}" download>Download</a> 
 				<!-- <p><iframe src="{{site.baseurl}}/SPOJ%20Solutions/solutions/{{data.download}}" frameborder="0" height="400" width="95%"></iframe></p> -->
 				<a href="{% capture url %}filename={{data.download}}{% endcapture %}{{site.baseurl}}/SPOJ%20Solutions/solution.html?{{ url }}">View</a></p>
			</div>
			</br>
		{% endif %}
    {% endfor %}
  </div>
