
<!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-white">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>Disclaimer</h3>
      <p>Designed and coded by Manish Jindal</p>
    </div>
  
    <div class="w3-third">
      <h3>Contibuters Profile</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
         <!-- <img src="img_workshop.jpg" class="w3-left w3-margin-right" style="width:50px"> -->
          <span class="w3-large">Lorem Ipsum</span><br>
          <span>comming soon--</span>
        </li>
      </ul>
    </div>

    <div class="w3-third">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Projects</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Blogs</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Code</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">BigData</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Programming</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Java</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Tools</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">C</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">C++</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Python</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Perl</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Groovy</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Hadoop</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cloud</span>
      </p>
    </div>

  </div>
  </footer>
