<!-- Header -->
  <header class="w3-container">
    <a href="#"><img src="{{site.baseurl}}/assets/img/blog-author.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <!--{% assign url=page.url %}
    {% assign activepage=page.active %}
    <h1><b>Site is Under Maintenance {{url}} {{activepage}}</b></h1>
    -->
    <h1><b>{{activepage}}</b></h1>
    
    <div class="w3-section w3-bottombar w3-padding-16">
    
      <span class="w3-margin-right" >Go To:</span> 
      <button class="w3-btn w3-hide-small {% if page.url == '{{site.baseurl}}/Programming%20Language/c-cplusplus-programming.html' %}w3-white{% endif %}" id="c-c++"><i class="fa fa-map-pin 
      w3-margin-right"></i>C/C++</button>
      <button class="w3-btn w3-hide-small {% if page.url == '/java-programming.html' %}w3-white{% endif %}" id="java"><i class="fa fa-map-pin 
      w3-margin-right"></i>Java</button>
      <button class="w3-btn w3-hide-small {% if page.url == '/python-programming.html' %}w3-white{% endif %}" id="python"><i class="fa fa-map-pin w3-margin-right"></i>Python</button>
      <button class="w3-btn {% if page.url == '/perl-programming.html/' %}w3-white{% endif %} w3-hide-small" id="perl"><i class="fa fa-map-pin w3-margin-right"></i>Perl</button>
      <button class="w3-btn {% if page.url == '/shellscript-programming.html/' %}w3-white{% endif %} w3-hide-small" id="shell-script"><i class="fa fa-map-pin w3-margin-right"></i>Shell Script</button>
      <button class="w3-btn {% if page.url == '/groovy-programming.html/' %}w3-white{% endif %} w3-hide-small" id="groovy"><i class="fa fa-map-pin w3-margin-right"></i>Groovy</button>
      
    </div>
    
  </header>

  <script type="text/javascript">
    document.getElementById("c-c++").onclick = function () {
        location.href = "{{site.baseurl}}/Programming%20Language/c-cplusplus-programming.html";
    };

    document.getElementById("java").onclick = function () {
        location.href = "{{site.baseurl}}/Programming%20Language/java-programming.html";
    };

    document.getElementById("python").onclick = function () {
        location.href = "{{site.baseurl}}/Programming%20Language/python-programming.html";
    };

    document.getElementById("perl").onclick = function () {
        location.href = "{{site.baseurl}}/Programming%20Language/perl-programming.html";
    };

    document.getElementById("shell-script").onclick = function () {
        location.href = "{{site.baseurl}}/Programming%20Language/shellscript-programming.html";
    };

    document.getElementById("groovy").onclick = function () {
        location.href = "{{site.baseurl}}/Programming%20Language/groovy-programming.html";
    };
</script>