<!-- Header -->
  <header class="w3-container">
    <a href="#"><img src="{{site.baseurl}}/assets/img/blog-author.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <!--{% assign url=page.url %}
    {% assign activepage=page.active %}
    <h1><b>Site is Under Maintenance {{url}} {{activepage}}</b></h1>
    -->
    <h1><b>{{activepage}}</b></h1>
    
    <div class="w3-section w3-bottombar w3-padding-16">
    
      <span class="w3-margin-right" >Filter:</span> 

      <button class="w3-btn {% if page.url != '/Programming%20Language/perl-programming.html' %}w3-white{% endif %} w3-hide-small" id="all"><i class="fa fa-map-pin w3-margin-right"></i>All</button>
      
      <button class="w3-btn w3-hide-small {% if page.url != '/Programming%20Language/c-cplusplus-programming.html' %}w3-white{% endif %}" id="arrays"><i class="fa fa-map-pin 
      w3-margin-right"></i>Arrays</button>
      <button class="w3-btn w3-hide-small {% if page.url != '/Programming%20Language/java-programming.html' %}w3-white{% endif %}" id="strings"><i class="fa fa-map-pin 
      w3-margin-right"></i>Strings</button>
      <button class="w3-btn w3-hide-small {% if page.url != '/Programming%20Language/python-programming.html' %}w3-white{% endif %}" id="trees"><i class="fa fa-map-pin w3-margin-right"></i>Trees</button>
       <button class="w3-btn w3-hide-small {% if page.url != '/Programming%20Language/python-programming.html' %}w3-white{% endif %}" id="dp"><i class="fa fa-map-pin w3-margin-right"></i>Dynamic Programming</button>
    </div>
    
  </header>

  <script type="text/javascript">
    document.getElementById("all").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions";
        localStorage.setItem("selected","All");
    };

    document.getElementById("arrays").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/Arrays.html";
        localStorage.setItem("selected","Arrays");
    };

    document.getElementById("strings").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/Strings.html";
         localStorage.setItem("selected","Strings");
    };


    document.getElementById("trees").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/Trees.html";
          localStorage.setItem("selected","trees");
    };

    document.getElementById("dp").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/DynamicProgramming.html";
          localStorage.setItem("selected","DP");
    };

</script>