<!-- Header -->
  <header class="w3-container">
    <a href="#"><img src="{{site.baseurl}}/assets/img/blog-author.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <!--{% assign url=page.url %}
    {% assign activepage=page.active %}
    <h1><b>Site is Under Maintenance {{url}} {{activepage}}</b></h1>
    -->
    <h1><b>{{activepage}}</b></h1>
    
    <div class="w3-section w3-bottombar w3-padding-16">
    
      <b><span class="w3-margin-right" >Filter:</span> </b>

      <button class="w3-btn {% if page.url != '/SPOJ%20Solutions/' %}w3-white{% endif %} w3-hide-small" id="all"><i class="fa fa-map-pin w3-margin-right"></i>All</button>
      
      <button class="w3-btn w3-hide-small {% if page.url != '/SPOJ%20Solutions/Ad-hoc.html' %}w3-white{% endif %}" id="ad-hoc"><i class="fa fa-map-pin 
      w3-margin-right"></i>Ad-hoc</button>
      <button class="w3-btn w3-hide-small {% if page.url != '/SPOJ%20Solutions/binary-search.html' %}w3-white{% endif %}" id="bins"><i class="fa fa-map-pin 
      w3-margin-right"></i>Binary Search</button>
      <button class="w3-btn w3-hide-small {% if page.url != '/SPOJ%20Solutions/sorting.html' %}w3-white{% endif %}" id="sorting"><i class="fa fa-map-pin 
      w3-margin-right"></i>Sorting</button>
      <button class="w3-btn w3-hide-small {% if page.url != '/SPOJ%20Solutions/tree.html' %}w3-white{% endif %}" id="trees"><i class="fa fa-map-pin w3-margin-right"></i>Trees</button>
       <button class="w3-btn w3-hide-small {% if page.url != '/SPOJ%20Solutions/graph.html' %}w3-white{% endif %}" id="graph"><i class="fa fa-map-pin w3-margin-right"></i>Graphs</button>
       <button class="w3-btn w3-hide-small {% if page.url != '/SPOJ%20Solutions/Math.html' %}w3-white{% endif %}" id="math"><i class="fa fa-map-pin w3-margin-right"></i>Math</button>
       <button class="w3-btn w3-hide-small {% if page.url != '/SPOJ%20Solutions/sliding-window.html' %}w3-white{% endif %}" id="sliding-window"><i class="fa fa-map-pin w3-margin-right"></i>Sliding Window</button>
       <button class="w3-btn w3-hide-small {% if page.url != '/SPOJ%20Solutions/dynamic-programming.html' %}w3-white{% endif %}" id="dp"><i class="fa fa-map-pin w3-margin-right"></i>Dynamic Programming</button>
    </div>
    
  </header>

  <script type="text/javascript">
    document.getElementById("all").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions";
        localStorage.setItem("selected","All");
    };

    document.getElementById("ad-hoc").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/Ad-hoc.html";
        localStorage.setItem("selected","Ad-hoc");
    };

    document.getElementById("bins").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/binary-search.html";
         localStorage.setItem("selected","binary-search");
    };

    document.getElementById("sorting").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/sorting.html";
        localStorage.setItem("selected","sorting");
    };

    document.getElementById("trees").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/tree.html";
         localStorage.setItem("selected","tree");
    };

    document.getElementById("graph").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/graph.html";
        localStorage.setItem("selected","graph");
    };

    document.getElementById("math").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/Math.html";
         localStorage.setItem("selected","math");
    };


    document.getElementById("sliding-window").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/sliding-window.html";
          localStorage.setItem("selected","sliding-window");
    };

    document.getElementById("dp").onclick = function () {
        location.href = "{{site.baseurl}}/SPOJ%20Solutions/dynamic-programming.html";
          localStorage.setItem("selected","dp");
    };

</script>