---
layout: blogs_layout
active: Continuous Integration using Jenkins
---


  <div class="w3-row-padding w3-white"> 
            <div>
            
            <b><h2>Adding New Slave</h2></b>
            {% for blog in site.data.tech-blogs.jenkins %}
              {% if blog.title == "Adding New Slave" %}
           <!-- <div class="w3-container w3-border w3-hover-shadow" style="color:white;background-color:#478!important"> -->
                <ul>
                  
                 <li><h4>{{blog.detail}}</h4>
                 <p><b><i><a href="{{blog.link}}">{{blog.link}}</a></i></b></p>
                 <img src="{{site.baseurl}}/assets/img/jenkins/{{blog.img}}" alt="Norway" style="width:70%" class="w3-hover-opacity">
                  </li>

                </ul>>
                
                {% endif %}
             {% endfor %}
            </div>
  </div>
