---
layout: w3school
active: Python Blogs
---
<!--
  <ul>
  	{% for blog in site.posts %}
  	<li>
  		<a href="">{{blog.title}}</a>
  		<p>{{blog.content}}</p>
  	</li>
  	{% endfor %}
  </ul>
-->

   <!-- First Photo Grid-->
  <div class="w3-row-padding">
    {% for blog in site.posts %}
    		<div class="w3-container w3-border w3-khaki w3-hover-shadow">
  				<p><b><i>Problem: - {{blog.title}}</i></b></p>
 				<!-- <p>Description:- <a href="{{data.description}}">{{data.description}}</a></p>
 				 <p>Solution:- <a href="{{site.baseurl}}/SPOJ%20Solutions/solutions/{{data.download}}" download>Download</a> 

 				<!-- <p><iframe src="{{site.baseurl}}/SPOJ%20Solutions/solutions/{{data.download}}" frameborder="0" height="400" width="95%"></iframe></p> 
 				<a href="{% capture url %}filename={{data.download}}{% endcapture %}{{site.baseurl}}/SPOJ%20Solutions/solution.html?{{ url }}">View</a></p>
 				-->
 				<p>Detailed Description:- {{blog.detail}}</p>
 				<p>{{blog.content}}
			</div>
			</br>
    {% endfor %}
  </div>

  <div class="w3-row-padding">
    {% for blog in site.posts %}
    		<div class="w3-card-4">

				<header class="w3-container w3-blue w3-hover-shadow w3-border">
					 <p><b><i>Problem: - {{blog.title}}</i></b></p>
				</header>

						<div class="w3-container w3-white">
						  <p>Detailed Description:- {{blog.detail}}</p>
						</div>
				
				<footer class="w3-container w3-blue">
				  <h5>{{blog.content}}</h5>
				</footer>
			</div>
			</br>
    {% endfor %}
  </div>


    <div class="w3-row-padding">
    {% for blog in site.posts %}
    		<div data-role="collapsible">

    			<h1>Detailed Description:- {{blog.detail}}</h1>
      			<p>{{blog.content}}</p>
			</div>
			</br>
    {% endfor %}
  </div>