<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="utf-8">
		<title> Tech pub </title>
		<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
  			(adsbygoogle = window.adsbygoogle || []).push({
    			google_ad_client: "ca-pub-7223409877792221",
    			enable_page_level_ads: true
 			 });
		</script>
	</head>
    <body>
	
		<header>	
				<h1> Tech pubs </h1>
				{% include nav.html navclass='nav-top' %}
				
		</header>
           {{ content }}
		   
		<footer>	
				<h1> Tech pubs </h1>
				{% include nav.html navclass='nav-bottom' %}
				
		</footer>
    </body>
</html>
