---
layout: w3school
active: Groovy Programming
---

  <div class="w3-row-padding"> 
    		<div class="w3-container w3-border w3-khaki w3-hover-shadow">
    			 <h2> Datatype </h2>
    			 {% for blog in site.categories.Groovy %}
    			 	{% if {{blog.subcategory}} == 'Datatype' %}
     				<ul >
     					<li>
     						<a href="">{{blog.title}}</a>
     						<p>{{blog.deatil}}</p>
     					</li>
     				</ul>
     				{% endif %}
 				  {% endfor %}

 				  <h2> Array </h2>
    			 {% for blog in site.categories.Groovy %}
     				{% if {{blog.subcategory}} == 'Array' %}
     				<ul>
     					<li>
     						<a href="">{{blog.title}}</a>
     						<p>{{blog.deatil}}</p>
     					</li>
     				</ul>
     				{% endif %}
 				  {% endfor %}

 				   <h2> Regular Expression </h2>
    			 {% for blog in site.categories.Groovy %}
     				{% if {{blog.subcategory}} == 'Regular Expression' %}
     				<ul>
     					<li>
     						<a href="">{{blog.title}}</a>
     						<p>{{blog.deatil}}</p>
     					</li>
     				</ul>
     				{% endif %}
 				  {% endfor %}

 				   <h2> Input Output </h2>
    			 {% for blog in site.categories.Groovy %}
     				{% if {{blog.subcategory}} == 'Input Output' %}
     				<ul>
     					<li>
     						<a href="">{{blog.title}}</a>
     						<p>{{blog.deatil}}</p>
     					</li>
     				</ul>
     				{% endif %}
 				  {% endfor %}
			</div>
  
  </div>
  </br>
  