---
layout: w3school
active: Python Programming
---

 
  <div class="w3-row-padding"> 
            <div class="w3-container w3-border w3-blue w3-hover-shadow">
                 <h2> Datatype </h2>
                 {% for blog in site.data.programming-language.python %}
                    {% if {{blog.subcategory}} == 'Datatype' %}
                    <ul >
                        <li>
                            <a href="{% capture url %}filename={{blog.filePath}}{% endcapture %}{{site.baseurl}}/Programming%20Language/solution.html?{{ url }}">{{blog.title}}</a>
                            <p>{{blog.detail}}</p>
                        </li>
                    </ul>
                    {% endif %}
                  {% endfor %}

                  <h2> Array </h2>
                 {% for blog in site.data.programming-language.python %}
                    {% if {{blog.subcategory}} == 'Array' %}
                    <ul >
                        <li>
                            <a href="{% capture url %}filename={{blog.filePath}}{% endcapture %}{{site.baseurl}}/Programming%20Language/solution.html?{{ url }}">{{blog.title}}</a>
                            <p>{{blog.detail}}</p>
                        </li>
                    </ul>
                    {% endif %}
                  {% endfor %}

                   <h2> Regular Expression </h2>
                  {% for blog in site.data.programming-language.python %}
                    {% if {{blog.subcategory}} == 'Regular Expression' %}
                    <ul >
                        <li>
                            <a href="{% capture url %}filename={{blog.filePath}}{% endcapture %}{{site.baseurl}}/Programming%20Language/solution.html?{{ url }}">{{blog.title}}</a>
                            <p>{{blog.detail}}</p>
                        </li>
                    </ul>
                    {% endif %}
                  {% endfor %}

                   <h2> Input Output </h2>
                 {% for blog in site.data.programming-language.python %}
                    {% if {{blog.subcategory}} == 'Input Output' %}
                    <ul >
                        <li>
                            <a href="{% capture url %}filename={{blog.filePath}}{% endcapture %}{{site.baseurl}}/Programming%20Language/solution.html?{{ url }}">{{blog.title}}</a>
                            <p>{{blog.detail}}</p>
                        </li>
                    </ul>
                    {% endif %}
                  {% endfor %}

            </div>
  
  </div>
  </br>
  